@use "base/reset" as *;
@use "base/container" as *;
@use "layout/navbar" as *;
@use "layout/header" as *;
@use "layout/footer" as *;
@use "layout/section_box" as *;
@use "pages/about_us" as *;
@use "pages/our_commitment" as *;
@use "pages/services" as *;
@use "pages/portfolio" as *;
@use "pages/our_scores" as *;
@use "pages/faq" as *;
@use "pages/references" as *;
@use "pages/contact" as *;
@use "pages/newsletter" as *;
@use "layout/decorations" as *;
@use "abstracts/animations" as *;
@use "components/button" as *;

.padding-section {
	padding:6em 0;
}

.przycisk123 {
	transition: 0.5s;
}

.logo__container {
	display: flex;
	flex-direction: row;
	text-align: center;
	gap: 4em;
	& img {
		height: 40px;
		width: 40px;
	}
}
// footer
.active {
	display: block;
}
.form-container {
	position: relative;
	display: grid;
	grid-template-rows: auto auto;
	gap: 20px;
	width: 100%;
	max-width: 1200px;
	padding: 2em;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: auto;
	margin-bottom: 10em;
	&__inputs {
		&-box {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// height: 80%;
			// gap: 3em;
		}
	}
}

.row1,
.row2 {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.full-width {
	width: 100%;
}

textarea {
	resize: vertical;
	min-height: 150px;
	max-height: 250px;
}

@media (min-width: 576px) {
	.form-container {
		grid-template-rows: repeat(auto, auto);
	}

	.row1 {
		grid-template-columns: repeat(2, 1fr);
	}

	.row2 {
		grid-template-columns: 1fr;
	}
}
// .image-container {
// 	text-align: right;
// }

.image-container img {
	max-width: 100%;
}
// media

@media (min-width: 576px) {
	.header {
		&__box {
			&-buttons {
				flex-direction: row;
				margin-top: 2em;
			}
			&-heading {
				font-size: 2.8rem;
			}
			&-text {
				font-size: 1.8rem;
			}
			&-button {
				font-size: 1.6rem;
			}
		}
	}
	.section__box {
		&-heading {
			font-size: 2.4rem;
		}
		&-text {
			font-size: 1.6rem;
		}
	}
	.about {
		&__img {
			&--right {
				& img {
				}
			}
		}
		&__text {
			&--right {
			}
			& p {
				font-size: 1.6rem;
			}
		}
	}
	.main__values {
		padding: 16em 0;
		& h3 {
			font-size: 2.2rem;
		}
	}
	.our__commitment {
		&-box {
			& p {
				font-size: 1.6rem;
			}
		}
		&-button {
			font-size: 1.6rem;
		}
	}
	.services {
		&__cards {
			padding: 2em;
		}
		&__card {
			width: 55%;
			& p {
				padding: 0 1em;
				font-size: 1.6rem;
			}
			&-button {
				font-size: 1.6rem;
			}
		}
	}
	.portfolio {
		&__project {
			&-text {
				font-size: 2rem;
			}
			&-description {
				font-size: 1.6rem;
			}
		}
	}

	.our__scores {
		flex-direction: row;
	}
	.score {
		&__text {
			font-size: 1.4rem;
		}
		&__number {
			font-size: 3.5rem;
		}
	}
	.accordion {
		padding: 2em 4em;
		&__contact {
			&-text {
				font-size: 1.8rem;
			}
			&-button {
				font-size: 1.8rem;
			}
		}
	}

	.newsletter {
		&__form {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 100%;
			&-input {
				width: 100%;
				font-size: 1.8rem;
			}
			&-button {
				width: max-content;
				height: max-content;
				font-size: 1.8rem;
			}
		}
		&__text {
			font-size: 1.8rem;
		}
		&-heading {
			font-size: 2rem;
		}
	}
	.review {
		font-size: 1.8rem;
	}
	.name {
		font-size: 2rem;
	}
	.contact {
		&__form {
			&-img {
				padding: 0 8em;
			}
		}
		&__textarea {
			font-size: 1.6rem;
		}
		&__btn {
			width: 35%;
		}
	}
	.footer {
		&__row {
			& p {
				font-size: 1.6rem;
			}
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.header {
		background-image: url("../../dist/img/header2Big.webp");
		&__box {
			width: 65%;
			&-heading {
				font-size: 3.2rem;
			}
			&-text {
				font-size: 2rem;
			}
		}
	}
	.section__box {
		&-heading {
			font-size: 2.8rem;
		}
	}

	.about {
		&__img {
			// padding-right: 52em;
			&--right {
				width: 50%;
				padding-left: 2em;
				& img {
					// box-shadow: none;
				}
			}
		}
		&__us-box {
			flex-direction: row;
			margin-top: 5em;
		}
		&__text {
			padding: 0;
			font-size: 1.6rem;
			line-height: normal;
			&--right {
				width: 50%;
				padding: 2em;
			}
			& h3 {
				font-size: 2.4rem;
			}
		}
	}
	.our_mission {
		flex-direction: row-reverse;
	}
	.main__values {
		padding: 16em 2em;
		& h3 {
			font-size: 2.4rem;
		}
		&-list {
			&--item {
				font-size: 1.8rem;
			}
		}
	}
	.services {
		&__cards {
			flex-direction: row;
			padding: 2em 0;
		}
		&__card {
			width: 30%;
			min-height: 400px;
			& p {
				font-size: 1.8rem;
			}
		}
	}
	.portfolio {
		&__projects {
			flex-direction: row;
			width: 100%;
			padding: 2em;
		}
		&__project {
			width: 45%;
			max-width: 400px;
			min-height: 550px;
			&-text {
				font-size: 2.2rem;
			}
			&-description {
				font-size: 1.8rem;
			}
		}
	}
	.score {
		&__text {
			font-size: 1.6rem;
		}
		&__number {
			font-size: 3rem;
		}
	}
	.our__scores {
		width: 75%;
		margin: 0 auto;
	}
	.accordion {
		padding: 4em 8em;
		&-btn {
			font-size: 1.8rem;
			&-category {
				font-size: 2rem;
			}
		}
		&__contact {
			&-text {
				font-size: 2rem;
			}
		}
	}
	.review {
		font-size: 2rem;
	}
	.name {
		font-size: 2.2rem;
	}
	.contact {
		&__textarea {
			font-size: 1.8rem;
		}
		&__form {
			&-img {
				padding: 0 12em;
				& img {
				}
			}
		}
		&__btn {
			font-size: 1.8rem;
		}
	}
	.newsletter {
		&__text {
			font-size: 2rem;
		}
		&-heading {
			font-size: 2.2rem;
		}
	}
	.footer {
		&__box {
			&-shape {
				&--first {
					bottom: -60px;
					left: -70px;
				}
				&--second {
					top: -70px;
					right: -70px;
				}
			}
		}
		&__row {
			& p {
				font-size: 1.8rem;
			}
		}
	}
	.slider {
		width: 65%;
	}
	.shape {
		width: 110px;
		height: 110px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.header {
		&__box {
			&-heading {
				font-size: 3.6rem;
			}
			&-text {
				font-size: 2.2rem;
			}
			&-button {
				font-size: 1.8rem;
			}
		}
	}
	.section__box {
		&-heading {
			font-size: 3rem;
		}
		&-text {
			font-size: 1.8rem;
		}
	}
	.navbar {
		padding: 0 2em;
		&__list {
			display: flex;
		}
	}
	.burger {
		display: none;
	}
	.about {
		&__text {
			padding: 2em 1em;
			font-size: 1.8rem;
			line-height: 25px;
		}
		& p {
			font-size: 1.8rem;
		}
	}
	.our__commitment {
		&-box {
			& p {
				font-size: 1.8rem;
			}
		}
		&-button {
			font-size: 1.8rem;
		}
	}
	.services {
		&__card {
			width: 40%;
			& p {
				font-size: 2rem;
			}
			&-button {
				font-size: 2rem;
			}
		}
	}
	.portfolio {
		&__projects {
			width: 90%;
		}
		&__project {
			&-text {
				font-size: 2.2rem;
			}
			&-description {
				font-size: 2rem;
			}
		}
	}
	.score {
		&__text {
			font-size: 1.8rem;
		}
		&__number {
			font-size: 3.2rem;
		}
	}
	.accordion {
		width: 80%;
		margin-bottom: 10em;
		padding: 4em 8em;
		&-info {
			&-text {
				font-size: 1.6rem;
			}
		}
		&-btn {
			&-category {
				font-size: 2.2rem;
			}
		}
		&__contact {
			&-text {
				font-size: 2.2rem;
			}
			&-button {
				font-size: 2rem;
			}
		}
	}

	.newsletter {
		&__form {
			width: 65%;
			&-button {
				font-size: 2rem;
			}
		}
		&__text {
			width: 75%;
			font-size: 2.2rem;
		}
		&-heading {
			font-size: 2.4rem;
		}
	}
	.forms {
		width: 50%;
		padding-right: 10em;
	}
	.contact {
		&__form {
			flex-direction: row;
			width: 100%;
			padding: 3em 8em;
			margin-bottom: 20em;
			&-img {
				width: 50%;
				padding: 0;
			}
		}
	}
	.slider {
		width: 70%;
	}
	.slides {
		width: 85%;
	}
	.footer {
		&__box {
			flex-direction: row;
		}
		&__row {
			width: 100%;
			padding: 2em 4em;
			& p {
				font-size: 2rem;
			}
		}
	}
	.form-container {
		width: 75%;
		padding: 4em 8em;
		// border: 2px solid #323232;
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.header {
		&__box {
			&-heading {
				font-size: 3.8rem;
			}
			&-button {
				font-size: 2rem;
			}
		}
	}
	.section__box {
		&-heading {
			font-size: 3.2rem;
		}
		&-text {
			font-size: 2rem;
		}
	}
	.about {
		&__text {
			padding: 2em;
			font-size: 2rem;
			line-height: 35px;
			& h3 {
				font-size: 2.8rem;
			}
			& p {
				font-size: 2rem;
			}
		}
	}
	.main__values {
		& h3 {
			font-size: 2.6rem;
		}
		&-list {
			&--item {
				font-size: 2rem;
			}
		}
	}
	.our__commitment {
		&-box {
			& p {
				font-size: 2rem;
			}
		}
		&-button {
			font-size: 2rem;
		}
	}
	.services {
		padding-bottom: 24em;
		&__card {
			width: 350px;
			min-height: 450px;
			padding: 2em 4em;
			& p {
				font-size: 2.4rem;
			}
		}
	}
	.portfolio {
		&__project {
			width: 40%;
			&-text {
				font-size: 2.6rem;
			}
		}
	}
	.score {
		&__text {
			font-size: 2rem;
		}
		&__number {
			font-size: 3.5rem;
		}
	}
	.accordion {
		&-btn {
			font-size: 2rem;
			&-category {
				font-size: 2.4rem;
			}
		}
		&__contact {
			&-text {
				font-size: 2.4rem;
			}
			&-button {
				font-size: 2.2rem;
			}
		}
	}

	.contact {
		&__textarea {
			font-size: 2rem;
		}
		&__input {
			font-size: 2rem;
		}
		&__btn {
			font-size: 2rem;
		}
		&__box {
			&:last-of-type {
				& span {
					font-size: 2rem;
				}
			}
		}
	}
	.footer {
		&__box {
			&-shape {
				&--first {
					bottom: -80px;
					left: -90px;
				}
				&--second {
					top: -70px;
					right: -70px;
				}
			}
		}
	}
	.shape {
		width: 150px;
		height: 150px;
	}
	.form__box {
		width: 90%;
		margin: 0 auto;
		padding-top: 4em;
	}
}
//
// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
	.header {
		min-height: calc(100dvh - 80px);
		&__box {
			&-heading {
				font-size: 4rem;
			}
			&-text {
				font-size: 2.4rem;
			}
		}
	}
	.section__box {
		&-heading {
			font-size: 3.4rem;
		}
	}
	.portfolio {
		&__project {
			width: 30%;
		}
	}
	.main__values {
		& h3 {
			font-size: 2.8rem;
		}
	}
	.services {
		&__card {
			& p {
				font-size: 2.6rem;
			}
			&-button {
				font-size: 1.8rem;
			}
		}
	}
}
// 4

@media (min-width: 1400px) {
	.shapes__container {
		overflow: visible;
	}
	.accordion {
		z-index: 30;
	}
}
