.forms {
	// display: flex;
	// flex-direction: column;
	// width: 100%;
	grid-row: 1; /* Pierwszy rząd */
	grid-column: 1 / span 2; /* Rozciągnij na dwa miejsca w pierwszym rzędzie */
	background-color: #ffd700;
}
.xd {
	width: 30px;
}
.contact {
	position: relative;

	&__input {
		position: relative;
		width: 100%;
		border: none;
		outline: none;
		padding: 0.5em 0;
		font-size: 1.6rem;
		background-color: #fff;
		// 2
		z-index: 30;
	}
	&__box {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 2em 0;
		border-bottom: 2px solid #000;
		z-index: 30;
	
		& label {
			width: 100%;
			& input {
				padding-left: 0.5em;
			}
		}
	
	}

	&__textarea {
		width: 100%;
		resize: vertical;
		min-height: 250px;
		max-height: 400px;
		border: 2px solid #000;
		padding: 2em;
		outline: none;
	}
	&__btn {
		border: none;
		outline: none;
		width: 100%;
		padding: 0.8em 1.6em;
		background-color: #323232;
		font-size: 1.6rem;
		// 2r
		color: #fff;
		font-family: Montserrat;
		text-transform: uppercase;
		font-variant: small-caps;
		font-weight: bold;
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			background-color: #fff;
			box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
			color: #323232;
		}
		// 2r
	}
	&__form {
		position: relative;
		// display: flex;
		// flex-direction: column-reverse;
		// justify-content: center;
		// // border: 2px solid #000;
		// padding: 2em;

		display: grid;
		grid-template-rows: auto auto; /* Dwa rzędy o dynamicznej wysokości */
		grid-template-columns: repeat(
			2,
			1fr
		); /* Dwa divy obok siebie w pierwszym rzędzie */
		gap: 10px; /* Odstęp między elementami */
		margin: 0 auto;
		width: 90%;
		box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
		background-color: #fff;

		& h3 {
			font-size: 2rem;
			// 2rem
			text-align: center;
		}

		& p {
			font-size: 1.8rem;
			text-align: center;
			font-weight: bold;
		}
	}
}
.message__box {
	display: flex;
	flex-direction: column;
	border-bottom: none;
	& span {
		display: flex;
		align-items: center;
		gap: 0.5em;
		font-size: 1.4rem;
	}
}
.form__box {
	position: relative;
	text-align: center;
	& h3 {
		display: none;
		position: relative;
		font-size: 2.4rem;
		margin-bottom: 4em;
		text-transform: uppercase;
		&::after {
			position: absolute;
			content: "";
			bottom: -20px;
			left: 50%;
			transform: translateX(-50%);
			width: 25%;
			background-color: #f0eb77;
			height: 3px;
		}
	}
	&-shape {
		&--first {
			top: -40px;
			left: -40px;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: #f0eb77;
			z-index: -1;
		}
		&--second {
			top: 15%;
			transform: rotate(23deg);
			right: -30px;
			width: 80px;
			height: 80px;
			background-color: #323232;
		}
		&--third {
			bottom: -20px;
			left: -15px;
			width: 80px;
			height: 80px;
			transform: rotate(13deg);
			background-color: #ba68c8;
		}
	}
}
